---
---

<section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">
        🗓️ Feriados por año
    </h2>
    <div class="flex flex-wrap gap-3">
        <a href="/2024">
            <div class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-200 hover:text-gray-500 hover:font-bold overflow-hidden">
                Feriados 2024
            </div>
        </a>

        <a href="/2025">
            <div class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-200 hover:text-gray-500 hover:font-bold overflow-hidden">
                Feriados 2025
            </div>
        </a>
    </div>
</section>