---
export const prerender = false;
import { supabase } from "@lib/supabase";
import MainLayout from "@layouts/MainLayout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
    return redirect("/auth/signin");
}

const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
});

if (error) {
    cookies.delete("sb-access-token", {
        path: "/",
    });
    cookies.delete("sb-refresh-token", {
        path: "/",
    });

    return redirect("/auth/signin");
}

const email = data?.user?.email;
---
<MainLayout title="panel de control">
    <h1>Bienvenido {email}</h1>
    <p>Estamos felices de verte aquí</p>
    <form action="/api/auth/signout">
        <button type="submit">Cerrar sesión</button>
    </form>
</MainLayout>