---
import {actions} from "astro:actions";

export const prerender = false;

const {data, error} = await Astro.callAction(actions.GetLongDate, {});

if (error) {
    console.log(error)
    throw new Error(error.message)
}

const {longDate} = data;
---

<span>{longDate}</span>