---
import {HolidayCard} from "@components/cards/HolidayCard.tsx";
import {actions} from "astro:actions";
import type {Holiday} from "@data/2024/holidays.ts";

let todayIsHoliday: Holiday[] = [];

const {data, error} = await actions.TodayIsHoliday((new Date).toLocaleDateString("es-CL"));
if (!error) {
    todayIsHoliday = data;
}
---

    <section class="my-6">
        {todayIsHoliday.length > 0 ? (
            <>
                <p class="text-2xl font-semibold mb-2">🎉 Hoy es feriado</p>
                {todayIsHoliday.map((holiday) => (
                    <HolidayCard holiday={holiday} />
                ))}
            </>
        ) : (
            <p class="bg-white p-4 rounded-lg shadow-md my-6 text-lg font-semibold">
                😟 Hoy no es feriado
            </p>
        )}
    </section>