---
interface Props {
    text: string;
    href: string;
}

const {text, href} = Astro.props;
---

<a
        href={href}
        class={`ml-auto no-underline text-sm text-white bg-blue-500 hover:bg-blue-400 px-3 py-2 rounded w-full text-center`}
>
    {text}
</a>